@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v19-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}

:root {
  --color-primary-white: #ffffff;
  --color-primary-blue: #2b7fff;
  --color-primary-dblue: #011c44;
  --color-secondary-gr1: #4a4a4a;
  --color-secondary-gr2: #747272;
  --color-secondary-lblue: #011f4a;
  --color-secondary-yelow: #ffd02b;
}

body {
  color: var(--color-primary-dblue);
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 p {
  margin-top: 0;
}

ul {
  list-style-type: none;
  margin-top: 0px;
}

a {
  display: inline-block;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Body */
.container-site {
  text-align: justify;
  max-width: 1440px;
  margin: -10px;
}

/* Header */

.header-section {
  background-image: linear-gradient(
      89deg,
      #fff 30.62%,
      rgba(255, 255, 255, 0.85) 41.31%,
      rgba(255, 255, 255, 0.19) 58.65%,
      rgba(255, 255, 255, 0) 72.78%
    ),
    url(../images/mainfon.png);
  background-repeat: no-repeat;

  background-position: top right;

  /* background-attachment: fixed; */
}

.head-container {
  display: flex;
  background-size: cover;
  gap: 240px;
  background-color: rgba(255, 255, 255, 0.25);
  align-items: center;
  margin-bottom: 16px;
}

.logo-container {
  display: flex;
  margin-left: 99px;
}

.nav-container {
  display: flex;
  gap: 40px;
  margin-top: 18px;
}

.link {
  color: black;
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.link:hover {
  color: var(--color-primary-blue);
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.soc-container {
  display: flex;
  gap: 32px;
}

/* title-inf */

.title-inf {
  margin-left: 244px;
}

h1 {
  color: var(--color-primary-blue);
  font-family: Play;
  font-size: 140px;
  font-style: normal;
  font-weight: 700;
  line-height: 114px; /* 81.429% */
  text-transform: capitalize;
  margin-bottom: 40px;
}

.button {
  color: #ffffff;
  border-radius: 32px;
  background-color: var(--color-primary-blue);
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  cursor: pointer;
  margin-bottom: 14px;
  border: 2px solid #2b7fff;
}

.button:hover {
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 32px;
  border: 2px solid #2b7fff;
  cursor: pointer;
}

/* main info */
h2 {
  font-family: Play;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 .accent {
  color: var(--color-primary-blue);
  text-transform: capitalize;
}

.main-inf {
  display: flex;
  gap: 28px;
  margin-left: 100px;
  justify-content: center;
}

.main-text {
  padding: 40px;
  width: 700px;
  display: block;
}

.main-foto {
  margin-left: 30px;
}
.main-foto2 {
  margin-left: 200px;
  margin-bottom: 200px;
}
.grad2 {
  position: relative;
}
.grad2 img {
  position: absolute;
  z-index: -1;
  top: -190px;
}

/* our */

.our2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 96px;
}
.our-cards {
  margin-left: 16px;
  margin-right: 16px;
}

.arr-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  stroke: black;
  fill: #ffffff;
  text-decoration: none;
}

.arr-button:hover .arr-arrow {
  fill: var(--color-primary-blue);
  stroke: #ffffff;
  transition: fill 0.3s ease;
}

.contacts2 {
  background-color: var(--color-primary-dblue);
  border-radius: 20px;
  margin-left: 32px;
  width: 420px;
  height: 480px;
  text-align: center;
}

/* chony ludy */

.card-cont {
  display: flex;
  gap: 56px;
  justify-content: center;
}

.cards {
  display: flex;
  height: 130px;
  padding: 24px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  background-color: #fff;
  /* background-color: #b43c3c; */
  width: 250px;
  flex-direction: column;
  margin-bottom: 96px;
}
#text-inf2 {
  text-align: center;
}

h3 {
  color: var(--color-primary-dblue, #011c44);
  text-align: center;
  font-family: Play;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 48px;
}

h3 .hero-h3 {
  color: var(--color-primary-blue, #2b7fff);
}

#text-inf2 {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}

/* Find */

.contacts1 {
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
  margin-bottom: 94px;
}

.map {
  border-radius: 20px;
  border: none;
  height: 480px;
}

.text-cont {
  color: #ffffff;
}

/* footer */

footer {
  background-color: #011c44;
  background-image: url(../images/bfooter.png);
  background-repeat: no-repeat;
}
.bfooter {
  position: relative;
}
.bfooter img {
  position: absolute;
  top: 0px;
  color: var(--color-primary-dblue);
}

.img-photo {
  position: absolute;
  left: 1093px;
  top: 68px;
}

.container {
  display: inline-flex;
  align-items: flex-start;
  gap: 186px;
  margin: 56px 100px 56px 100px;
  position: relative;
  line-height: 26px;
}

.socpac {
  margin-left: 40px;
}

#text-inf {
  color: var(--color-primary-dblue);
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 172.727% */
}

#text-inf .beautyzone {
  color: var(--color-primary-dblue, #011c44);
  font-weight: 600;
}

.link2 {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.copy {
  color: #747272;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
